*
  &::selection
    background: $accent-color
    color: white

.e-fixed
    height: 100vh
    overflow: hidden !important
    height: calc( var(--vh, 1vh) * 100)

.custom
  scrollbar-width: none 
  scrollbar-height: none 
  -ms-overflow-style: none 
  &::-webkit-scrollbar 
    width: 0px 
    height: 0px
    background: transparent 

.page-rewealer
  width: 100%
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 1001
  pointer-events: none
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  svg
    transform: scale(1.8) rotate(-90deg)
    stroke-dasharray: 3141.276123046875
    stroke-dashoffset: 3141.276123046875
    opacity: 0
    stroke: darken($light-gray, 2%) 

body
  overflow: auto
  height: 100vh 
  +main
  color: $brown
  transition: color .3s ease, background .3s ease
  cursor: wait
  overflow-x: hidden 
  -webkit-font-smoothing: antialiased
.header
  width: 100%
  height: 100vh
  position: fixed
  overflow: hidden
  &__clock
    height: 100%
    position: fixed 
    z-index: 1
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    svg
      height: 86%
      width: 100%
      path
        opacity: 0
    .real
      display: none
      #clock_slider
        pointer-events: none
      #clock_slider-2
        stroke-width: 33px
        opacity: 0
      .line
        cursor: pointer
      path
        opacity: 1
        transition: stroke-width .3s ease
      &.is-visible
        display: block
      .active
        path
          stroke: $accent-color
          stroke-width: 2px
      .active
        stroke: $accent-color
  &__time-wrapper
    position: fixed
    z-index: 0 
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    width: 100vw
    user-select: none
  &__time
    font-size: 18.7vw
    line-height: 1em
    transform: translateY(-18%)
    +header
    display: inline-flex
    span
      display: inline-block  
      transform: translateY(50%)
      opacity: 0 
  &__names
    position: fixed
    top: 50%
    transform: translateY(-50%)
    text-align: center 
    width: fit-content 
    z-index: 2 
    user-select: none
    opacity: 0 
    pointer-events: none
    .container
      display: flex
      justify-content: space-between
      align-items: center 
      will-change: transform
    .first-strip
      display: flex
      justify-content: space-between
      align-items: center 
    .second-strip
      display: flex
      justify-content: space-between
      align-items: center 
  &__name-wrapper
    width: 22vw
    margin-right: 2.5vw
    display: none
    justify-content: center
    align-items: center
    flex-direction: column 
    pointer-events: auto
    &:hover
      .header__name
        color: $accent-color
    &.is-visible
      display: flex
    &.default-layout
      &:nth-child(4n+1)
        margin-top: 33vh 
      &:nth-child(4n+2)
        margin-bottom: 22.3vh
      &:nth-child(4n+3)
        margin-top: 31vh 
      &:nth-child(4n+4)
        margin-bottom: 20.3vh

  &__name
    +header
    text-transform: uppercase
    font-size: 3.25vw 
    line-height: 80%
    transition: color .3s ease 
  &__description
    margin-top: 24px
    font-size: 1vw 
    color: #73706F
    padding-left: 40px
    padding-right: 40px 
    line-height: 1.32em
    a
      position: relative
      display: inline-block
      // width: fit-content
      &::after
        content: ''
        display: block
        background: $accent-color
        opacity: .4
        height: 1px
        width: 100%
        position: absolute
        bottom: 2px
        left: 0
        transition: opacity .3s ease
      &:hover
        &::after
          opacity: 1

.footer
  position: fixed
  bottom: 5%
  width: 100%
  z-index: 2
  +fontSize(13, 10)
  +bold
  .container
    display: flex
    justify-content: space-between
    align-items: flex-end 
  .link
      &::after
        bottom: -3px
  &__right
    display: flex
    flex-direction: column
    align-items: flex-end
    line-height: 1.4em
    span
      display: inline-block
      margin-bottom: 3px
      +main
  a
    transition: color .3s ease
    &:hover
      color: $accent-color

.filter
  position: fixed
  top: 0
  left: 0
  overflow: hidden
  z-index: 1001 
  width: 100%
  height: 100% 
  background: $light-gray
  display: flex 
  transform: translateY(-100%)
  pointer-events: none
  color: $brown
  .container
    display: flex
    align-items: flex-start
    margin-top: 180px
  &__left
    width: 36%
  &__right
    width: 55%
    height: 100% 
    overflow-y: scroll 
    padding-bottom: 40px
    +media("<=1025px")
      overflow: hidden
  &.open
    pointer-events: auto 

.tabs
  &__nav
    +bold 
    display: flex
  &__nav-item
    width: 28%
  &__content
    display: flex
    .tab
      width: 28%
      margin-top: 24px    
  &__item
    margin-top: 24px
    cursor: pointer
    transition: color .3s ease
    &:hover
      color: $accent-color