h2
	+header
	text-transform: uppercase
	font-size: 3.25vw 
	line-height: 0.8em
	transition: color .3s ease 

.link
  position: relative
  display: inline-block
  // width: fit-content
  border-bottom: 1px rgba($accent-color, 0.32) solid
  line-height: 1.1em
  transition: color .3s ease, border-color .3s ease
  &:hover
    color: $accent-color
    border-color: $accent-color

