---
title: 'Як створювався фотопроєкт «Час зачинених дверей»: ідея, команда та принципи роботи'
description: "Хто і навіщо створив всеукраїнський документальний фотопроєкт «Час закритих дверей»? За яким принципом обирали героїв та в яких городах? Один клік – і ви в курсі!"
route: about
---
{% extends "layouts/_layout.html" %}
{% import "data/data.html" as team %}

{% block content %}
<header class="about-header">
  <div class="container">
    <h1 class="about-h">Поки весь світ завмер, щоб зрозуміти, що з нами відбувається, ми документуємо історію.</h1>
  </div>
</header>
<main>
  <section class="section about-section">
    <div class="container">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Про що цей фотопроєкт?</h3>
        <div class="about-section__right-content">
          <p>Час закритих дверей – це всеукраїнський документальний фотопроєкт <span><a class="link" href="https://gate.agency/" target="_blank" rel="noopener noreferrer">The Gate Agency</a></span> про те, що проживає український бізнес під час пандемії COVID-19. У ньому взяли участь 100 власників ресторанів, тревел-агентств, заводів, приватних шкіл, юридичних компаній, спортивних центрів, екоферм, IT-компаній та інших бізнесів. Ми знімали героїв в Києві, Дніпрі, Львові, Одесі, Миколаєві, Кременчуці, Івано-Франківську, Чернівцях, Херсоні та Чернігові. І всі ці історії тепер живуть на сайті, який для фотопроєкту створили Hexagon Agency.
          </p>
        </div>
      </div>
    </div>
    <div class="container with-margin">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Як виглядала робота над фотопроєктом?</h3>
        <div class="about-section__right-content">
          <p>Ми сфотографували власників бізнесу в їх просторах – всередині офісів, закладів, цехів чи складів. Дізналися історії створення бізнесу. Те, з яким почуттям довелося закрити двері, думки про те, що буде далі і як українці планують виходити з посткарантинної кризи.</p>
          <p class="with-margin">Поспілкувавшись із сотнею власників український бізнесів, ми можемо точно сказати, що це історії про натхнення, силу йти крізь невідомість, сміливість приймати рішення, брати відповідальність за свою справу та команду.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section h2-section">
  <div class="container">
    <h2 class="about-h about-h2">Це великий фотопроєкт з виразними кадрами, щирими історіями та&nbsp;надзвичайними українцями.</h2>
  </div>
  </section>
  <section class="section team-section">
    <div class="container">
      <div class="team-section__wrapper">
        {% for member in team.team %}
        <div class="team-section__item">
          <div class="team-section__img" style="background-image: url({{member.img}})"></div>
          <h4 class="team-section__name">{{member.name}}</h4>
          <span class="team-section__occupation">{{member.occupation}}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section about-section">
    <div class="container">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Про Hexagon Agency</h3>
        <div class="about-section__right-content">
          <p><span><a class="link" href="https://hexagon.agency" target="_blank" rel="noopener noreferrer">Hexagon Agency</a></span> — дизайнерська агенція, яка знає, як. Як створити дружній інтерфейс та дизайн, що спонукає користуватись продуктом. А ще, наприклад, як допомогти місту пам’ятати минуле чи широкій авдиторії познайомитись із бізнесом на карантині.
          </p>
          <img class="team-img" src="./img/hexagon.jpg" alt="hexagon-team">
          <p class="with-margin">Вже 10 років ми працюємо з великими та маленькими компаніями. За допомогою авторської методології USE ми втілили проєкти в партнерстві з HP, Canon, Lipton, Vodafone та багатьма іншими брендами, що змінили світ. Але зараз нас надихають здебільшого яскраві молоді стартапи, з якими ми можемо швидко втілювати ідеї та розпочинати разом нові легенди.</p>
        </div>
      </div>
    </div>
        <div class="container with-margin">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Про The Gate Agency</h3>
        <div class="about-section__right-content">
         <p><span><a class="link" href="https://gate.agency/" target="_blank" rel="noopener noreferrer">The Gate Agency</a></span> — агенція фото та відео для бізнесу. Ми для бізнесу і про бізнес. Ми створюємо фото і відео проєкти про те, чим живе діловий світ: хто ті люди, що стоять за назвами компаній і що є самі компанії. Ми показуємо обличчя та можливості українського бізнесу масштабно і стильно. Ми знімаємо особистостей та їх підприємства. Тих хто керує, створює, сміливо рухається вперед і визначає майбутнє країни.</p>
        </div>
      </div>
    </div>
    <div class="container with-margin">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Ми в соцмережах</h3>
        <div class="about-section__right-content">
          <a href="#" class="about-section__social link">Facebook</a>
          <a href="#" class="about-section__social link">Instagram</a>
        </div>
      </div>
    </div>
    <div class="container with-margin">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Співпраця</h3>
        <div class="about-section__right-content">
          <span class="medium">Для співпраці зв’яжіться, будь ласка, <span><a class="link" href="#" target="_blank" rel="noopener noreferrer">з Катериною</a></span></span>
        </div>
      </div>
    </div>
        <div class="container with-margin">
      <div class="about-section__right">
        <h3 class="about-section__left-content">Розробка сайту</h3>
        <div class="about-section__right-content">
         <span><a class="link" href="https://hexagon.agency" target="_blank" rel="noopener noreferrer">Hexagon Agency</a></span>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="about-footer">
  <div class="container">
  <span class="rights">© 2020 Час зачинених дверей</span>
  </div>
</footer>
{% endblock %}
