---
title: Index page
route: main
---
{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}
{% block content %}
<header class="header custom">
  <div class="header__clock">
    {% include "partials/_clock.html" %}
  </div>
  <div class="header__time-wrapper">
    <h1 class="header__time">
      <span class="days-1"></span>
      <span class="days-2"></span>
      <span class="dots">:</span>
      <span class="hours-1"></span>
      <span class="hours-2"></span>
      <span class="dots">:</span>
      <span class="minutes-1"></span>
      <span class="minutes-2"></span>
    </h1>
  </div>
  <div class="header__names">
    <div class="container">
      <div class="first-strip">
        {% for i in range(0, 20) -%}
        {% for item in items.list %}
        <a data-transition="toInterview" href="interview.html" class="header__name-wrapper is-visible default-layout" data-city="{{item.city}}" data-occupation="{{item.occupation}}" data-key="{{item.key}}">
          <h2 class="header__name">{{item.name}}</h2>
          <p class="header__description">{{item.description|safe}}</p>
        </a>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</header>
<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <a href="https://gate.agency/" target="_blank" rel="noopener noreferrer">© The Gate Agency
        <svg width="25" height="7" viewBox="0 0 25 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="3" width="19" height="1" fill="#D3D1CF" />
          <path d="M19 0V7L25 3.5L19 0Z" fill="#24201E" />
        </svg>
      </a>
    </div>
    <div class="footer__right">
      <span>Дизайн</span>
      <a href="https://hexagon.agency/" target="_blank" rel="noopener noreferrer">Hexagon Agency</a>
    </div>
  </div>
</footer>
{% endblock %}
