---
title: Index page
route: main
---
{% extends "layouts/_layout.html" %}
{% block content %}
<header class="header">
  <div class="header__clock">
    {% include "partials/_clock.html" %}
  </div>
  <div class="header__time-wrapper">
    <h1 class="header__time">
      <span class="days-1"></span>
      <span class="days-2"></span>
      <span class="dots">:</span>
      <span class="hours-1"></span>
      <span class="hours-2"></span>
      <span class="dots">:</span>
      <span class="minutes-1"></span>
      <span class="minutes-2"></span>
    </h1>
  </div>
  <div class="header__names">
    <div class="container">
      <a href="interview.html" class="header__name-wrapper is-visible" data-city="Харків" data-occupation="Дизайн і розробка" data-key="Фінанси">
        <h2 class="header__name">
          Олена <br>Бебко
        </h2>
        <p class="header__description">
          Cпівзасновниця і&nbsp;керуючий партнер ресторанів Odessa  та&nbsp;Spicy NoSpicy
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Ілля<br>Айзенштат
        </h2>
        <p class="header__description">
          Співзасновник і&nbsp;CEO Beeworking
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Микола<br>Дориченко
        </h2>
        <p class="header__description">
          Співвласник та виконавчий директор у&nbsp;Хексагон Едженсі
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Оксана<br>Соколова
        </h2>
        <p class="header__description">
          Cпівзасновниця і&nbsp;керуючий партнер FIZMAT
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Коронавірус">
        <h2 class="header__name">
          Олена <br>Бебко
        </h2>
        <p class="header__description">
          Cпівзасновниця і керуючий партнер ресторанів Odessa  та Spicy NoSpicy
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Ілля<br>Айзенштат
        </h2>
        <p class="header__description">
          Співзасновник і CEO Beeworking
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Дніпро" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Микола<br>Дориченко
        </h2>
        <p class="header__description">
          Співвласник та виконавчий директор у Хексагон Едженсі
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Дніпро" data-occupation="Сфера послуг" data-key="Скорочення">
        <h2 class="header__name">
          Оксана<br>Соколова
        </h2>
        <p class="header__description">
          Cпівзасновниця і керуючий партнер FIZMAT
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Харків" data-occupation="Дизайн і розробка" data-key="Фінанси">
        <h2 class="header__name">
          Олена <br>Бебко
        </h2>
        <p class="header__description">
          Cпівзасновниця і&nbsp;керуючий партнер ресторанів Odessa  та&nbsp;Spicy NoSpicy
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Ілля<br>Айзенштат
        </h2>
        <p class="header__description">
          Співзасновник і&nbsp;CEO Beeworking
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Микола<br>Дориченко
        </h2>
        <p class="header__description">
          Співвласник та виконавчий директор у&nbsp;Хексагон Едженсі
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Оксана<br>Соколова
        </h2>
        <p class="header__description">
          Cпівзасновниця і&nbsp;керуючий партнер FIZMAT
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Коронавірус">
        <h2 class="header__name">
          Олена <br>Бебко
        </h2>
        <p class="header__description">
          Cпівзасновниця і керуючий партнер ресторанів Odessa  та Spicy NoSpicy
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Київ" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Ілля<br>Айзенштат
        </h2>
        <p class="header__description">
          Співзасновник і CEO Beeworking
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Дніпро" data-occupation="Будівництво" data-key="Середній бізнес">
        <h2 class="header__name">
          Микола<br>Дориченко
        </h2>
        <p class="header__description">
          Співвласник та виконавчий директор у Хексагон Едженсі
        </p>
      </a>
      <a href="#" class="header__name-wrapper is-visible" data-city="Дніпро" data-occupation="Сфера послуг" data-key="Скорочення">
        <h2 class="header__name">
          Оксана<br>Соколова
        </h2>
        <p class="header__description">
          Cпівзасновниця і керуючий партнер FIZMAT
        </p>
      </a>
    </div>
  </div>
</header>
<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <a href="https://gate.agency/" target="_blank" rel="noopener noreferrer">© The Gate Agency
        <svg width="25" height="7" viewBox="0 0 25 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="3" width="19" height="1" fill="#D3D1CF" />
          <path d="M19 0V7L25 3.5L19 0Z" fill="#24201E" />
        </svg>
      </a>
    </div>
    <div class="footer__right">
      <span>Дизайн</span>
      <a href="https://hexagon.agency/" target="_blank" rel="noopener noreferrer">Hexagon Agency</a>
    </div>
  </div>
</footer>
{% endblock %}
