---
title: '100 історій український бізнесів на карантині в документальному фотопроєкті «Час зачинених дверей»'
description: 'Міжнародні IT-компанії та маленькі кав’ярні, львівські готелі та одеські театри. Ми проїхали всю країну щоб розповісти щирі історії про бізнеси українців під час пандемії.'
route: main
---
{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}
{% block content %}
<header class="header custom">
  <div class="header__clock">
    {% include "partials/_clock.html" %}
  </div>
  <div class="header__time-wrapper">
    <h1 class="header__time">
      <span class="days-1"></span>
      <span class="days-2"></span>
      <span class="dots">:</span>
      <span class="hours-1"></span>
      <span class="hours-2"></span>
      <span class="dots">:</span>
      <span class="minutes-1"></span>
      <span class="minutes-2"></span>
    </h1>
  </div>
  <div class="header__names">
    <div class="container">
      <div class="first-strip">
        {% for i in range(0, 20) -%}
        {% for item in items.list %}
        <div class="header__name-wrapper is-visible default-layout">
          <h2 class="header__name br"><a data-transition="toInterview" href="interview.html">{{item.name}}</a></h2>
          <p>gtwqetw<a href="#">blah</a></p>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</header>
<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <a class="link" href="https://gate.agency/" target="_blank" rel="noopener noreferrer">© The Gate Agency</a>
    </div>
    <div class="footer__right">
      <span>Дизайн</span>
      <a class="link" href="https://hexagon.agency/" target="_blank" rel="noopener noreferrer">Hexagon Agency</a>
    </div>
  </div>
</footer>
{% endblock %}
