---
title: Index page
route: interview
---
{% extends "layouts/_layout.html" %}
{% block content %}
<header class="interview-header">
  <div class="container">
    <div class="interview-header__left">
      <div class="h1-wrapper">
      <h1>Микола <br>Дориченко</h1>
      </div>
      <div class="interview-header__description">Співвласник та виконавчий директор <br>у Хексагон Едженсі</div>
      <div class="interview-header__bottom">
        <span class="interview-header__location">локація<br>М. Кривий ріг</span>
        <span class="interview-header__photograph">фотограф<br>Павло наволочко</span>
      </div>
    </div>
    <div class="interview-header__right">
      <img src="img/1.jpg" alt="">
    </div>
  </div>
</header>
<main>
<article class="article">
  <div class="container">
    <div class="article__left">
      <div class="article__date">15 квітня 2020</div>
      <div class="article__social">
        <a href="#" target="_blank" rel="noopener noreferrer" class="article__social-item facebook">
          {% include "partials/_facebook.html" %}
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="article__social-item twitter">
          {% include "partials/_twitter.html" %}
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="article__social-item telegram">
          {% include "partials/_telegram.html" %}
        </a>
      </div>
    </div>
    <div class="article__right">
      <h3 class="article__question"><span class="interviewer-name">я.щ.</span>Як давно ви на ринку? Через які знакові періоди прошли?</h3>
      <p class="article__answer"><span class="respondent-name">Д.Б.</span>Сам я дизайном займаюсь вже близько десяти років. У 2015, з партнером, вирішили об'єднати зусилля та започаткувати власний бізнес. Ми допомагаємо іншим бізнесам підвищувати доходи завдяки створенню нових чи оптимізації вже існуючих діджитал рішень. Через 2 роки після створення бізнесу зрозуміли, що на локальному ринку нам вже досить тісно і перевезли всю команду з Чернівців до Києва. А в 2018 отримали інвестиції та стали партнерами продуктової компанії з Естонії, це дозволило підняти бізнес на новий рівень. Минулого року відкрили представництво Хексагону у В'єтнамі і активно розвиваємось на Азійському ринку.</p>
      <h3 class="article__question"><span class="interviewer-name">я.щ.</span>Чи розглядаєте ви варіант закриття цього бізнесу?</h3>
      <p class="article__answer"><span class="respondent-name">Д.Б.</span>Звичайно, я думав і розглядав найгірші варіанти розвитку подій. Якщо економіка та наші клієнти не зможуть відновитись і дозволити замовляти собі наші послуги – прийдеться попрощатись з справою, якій я віддав 5 років свого життя. Проте це не означає, що я перестану займатись дизайном. Почну все спочатку як самостійний спеціаліст. Тому що з олюбленою справою я розлучатись не планую.</p>
    </div>
  </div>
</article>
</main>
{% endblock %}
