@font-face
  font-family: 'Soyuz Grotesk Bold'
  src: url('../fonts/SoyuzGroteskBold.otf') format("truetype")
  font-weight: 700
  font-display: swap 
  font-style: bold


@font-face
  font-family: 'HelveticaNeueCyr-Bold'
  src: url('../fonts/HelveticaNeueCyr-Bold.otf') format("truetype")
  font-weight: 700
  font-display: swap 
  font-style: bold

@font-face
  font-family: 'HelveticaNeueCyr-Roman'
  src: url('../fonts/HelveticaNeueCyr-Roman.otf') format("truetype")
  font-weight: 400
  font-display: swap 
  font-style: normal


@mixin header
  font-family: 'Soyuz Grotesk Bold', 'Arial', sans-serif
  font-weight: 700


@mixin main
  font-family: 'HelveticaNeueCyr-Roman', 'Arial', sans-serif
  font-weight: 400

@mixin bold
  font-family: 'HelveticaNeueCyr-Bold', 'Arial', sans-serif
  font-weight: 700