.interview-header
	height: 100vh
	.container
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%
		text-align: center
		h1
			+header
			font-size: 88px
			line-height: 72%
			letter-spacing: 0.02em
	&__description
		margin-top: 70px
		line-height: 1.4em
		font-size: 0.9vw
	&__left
		display: flex
		justify-content: center
		align-items: center
		width: 50%
		flex-direction: column
		height: 100%
	&__right
		width: 50%
		height: 100%
		padding-top: 40px
		padding-bottom: 40px
		img
			height: 100%
			display: block 
			float: right