  <div class="filter">
    <div class="container">
      <div class="filter__left">
        <h2>Фільтр</h2>
      </div>
      <div class="filter__right">
        <div class="tabs">
          <div class="tabs__scroll-wrap">
            <div class="tabs__bg"></div>
            <div class="tabs__nav tabs-nav">
              <div class="tabs__nav-item is-active" data-tab-name="tab-1">Місто</div>
              <div class="tabs__nav-item" data-tab-name="tab-2">Сфера</div>
              <div class="tabs__nav-item" data-tab-name="tab-3"><span class='only-desktop'>Ключове</span> слово</div>
            </div>
          </div>
          <div class="tabs__content">
            <div class="tab is-active tab-1 tab-city">
              <div class="tabs__item by-city">Київ</div>
              <div class="tabs__item by-city">Харків</div>
              <div class="tabs__item by-city">Одеса</div>
              <div class="tabs__item by-city">Дніпро</div>
              <div class="tabs__item by-city">Донецьк</div>
            </div>
            <div class="tab tab-2 tab-occupation">
              <div class="tabs__item by-occupation">Освіта</div>
              <div class="tabs__item by-occupation">Дизайн і розробка</div>
              <div class="tabs__item by-occupation">Будівництво</div>
              <div class="tabs__item by-occupation">Сфера послуг</div>
              <div class="tabs__item by-occupation">Харчування</div>
            </div>
            <div class="tab tab-3 tab-key">
              <div class="tabs__item by-key">Фінанси</div>
              <div class="tabs__item by-key">Партнери</div>
              <div class="tabs__item by-key">HR</div>
              <div class="tabs__item by-key">Малий бізнес</div>
              <div class="tabs__item by-key">Середній бізнес</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>