<div class="filter-slideshow__content">
  <div class="filter-slideshow">
    {% for i in range(0, 5) -%}
      <a href='interview.html' class="filter-slide">
        <div class="filter-slide__wrap">
          <div class="filter-slide__img" data-bglazy="./img/1.jpg"></div>
          <div class="filter-slide__title-wrap"></div>
        </div>
      </a>
    {% endfor %}
  </div>
  <!-- /filter-slideshow -->
  <nav class="filter-boxnav">
    <div class="container">
      <div class="filter-boxnav__item filter-boxnav__item--prev">
        <svg width="52" height="9" viewBox="0 0 52 9" class="icon icon--caret" fill="#D3D1CF">
          <rect width="40" height="1" transform="matrix(-1 0 0 1 52 4)" fill="#D3D1CF"/>
          <path d="M12 0V9L0 4.5L12 0Z" fill="#24201E"/>
        </svg>

      </div>
      <div class="filter-boxnav__item filter-boxnav__item--next">
        <svg width="52" height="9" viewBox="0 0 52 9" class="icon icon--caret-rot" fill="white">
          <rect y="4" width="40" height="1" fill="#D3D1CF"/>
          <path d="M40 0V9L52 4.5L40 0Z" fill="#24201E"/>
        </svg>
      </div>
    </div>
    <div class="filter-boxnav__item--label">
      <div class="filter-boxnav__label--current">1</div>
      <div class="filter-boxnav__label filter-boxnav__label--total"></div>
    </div>
  </nav>
</div>