{% set 
list = [
	{
		name: 'Олена  Бебко',
		description: 'Cпівзасновниця і&nbsp;керуючий партнер ресторанів Odessa  та&nbsp;Spicy NoSpicy',
		city: 'Харків',
		occupation: 'Дизайн і розробка',
		key: 'Фінанси'
	},
	{
		name: 'Ілля Айзенштат',
		description: 'Співзасновник і&nbsp;CEO Beeworking',
		city: 'Київ',
		occupation: 'Будівництво',
		key: 'Середній бізнес'
	},
	{
		name: 'Микола Дориченко',
		description: 'Співвласник та виконавчий директор у&nbsp;Хексагон Едженсі',
		city: 'Київ',
		occupation: 'Будівництво',
		key: 'Середній бізнес'
	},
	{
		name: 'Оксана Соколова',
		description: 'Cпівзасновниця і&nbsp;керуючий партнер FIZMAT',
		city: 'Київ',
		occupation: 'Будівництво',
		key: 'Середній бізнес'
	},
	{
		name: 'Марина Мірошниченко',
		description: 'CEO MBA Kids International',
		city: 'Запоріжжя',
		occupation: 'Електронна комерція',
		key: 'Партнери'
	}
] 
%}

{% set 
team = [
	{
		img: 'img/team/1.png',
		name: 'Cергій Коровайний',
		occupation: 'Головний редактор'
	},
	{
		img: 'img/team/2.png',
		name: 'Григорій Веприк',
		occupation: 'Фотограф'
	},
	{
		img: 'img/team/3.png',
		name: 'Олександр Роженюк',
		occupation: 'Фотограф'
	},
	{
		img: 'img/team/4.png',
		name: 'Марія Маруженко',
		occupation: 'Фотограф'
	}
] 
%}

{% set 
members = [
	{
		img: 'img/small/1.png',
		name: 'Віталій Манчінскій',
		occupation: 'CEO Beeworking'
	},
	{
		img: 'img/small/2.png',
		name: 'Ілля Айзенштат',
		occupation: 'СЕО ReThink'
	},
	{
		img: 'img/small/3.png',
		name: 'Дмитро Бойчук',
		occupation: 'CEO MBA Kids International'
	},
	{
		img: 'img/small/4.png',
		name: 'Марина Мірошниченко',
		occupation: 'Okno vo Dvor Concept Store'
	},
	{
		img: 'img/small/5.png',
		name: 'Микола Дориченко',
		occupation: 'Hexagon Agency'
	},
	{
		img: 'img/small/6.png',
		name: 'Оксана Соколова',
		occupation: 'Odessa та Spicy NoSpicy'
	}
] 
%}


<!-- {
		name: 'Марина Мірошниченко',
		description: 'CEO MBA Kids International',
		city: 'Запоріжжя',
		occupation: 'Електронна комерція',
		key: 'Партнери'
	},
		{
		name: 'Олена  Бебко',
		description: 'Cпівзасновниця і&nbsp;керуючий партнер ресторанів Odessa  та&nbsp;Spicy NoSpicy',
		city: 'Харків',
		occupation: 'Дизайн і розробка',
		key: 'Фінанси'
	},
	{
		name: 'Ілля Айзенштат',
		description: 'Співзасновник і&nbsp;CEO Beeworking',
		city: 'Київ',
		occupation: 'Будівництво',
		key: 'Середній бізнес'
	},
	{
		name: 'Микола Дориченко',
		description: 'Співвласник та виконавчий директор у&nbsp;Хексагон Едженсі',
		city: 'Київ',
		occupation: 'Будівництво',
		key: 'Середній бізнес'
	},
	{
		name: 'Оксана Соколова',
		description: 'Cпівзасновниця і&nbsp;керуючий партнер FIZMAT',
		city: 'Київ',
		occupation: 'Будівництво',
		key: 'Середній бізнес'
	} -->