body
  &.morning
    background: #fff
    color: $brown
    .header__time
      color: $light-gray
  &.lunchtime
    background: #fff
    color: $brown
    .header__time
      color: $medium-gray
  &.evening
    background: $light-gray
    color: $brown
    .header__time
      color: #fff
  &.night
    background: $brown
    color: white
    .header__time
      color: black
    .header__clock
      svg
        path
          stroke: $accent-color
        .active
          path
            stroke: white
            stroke-width: 3px
        .active
          stroke: white
    .header__description
      color: #6A6765
    .navbar
      color: white
      svg 
        path 
          fill: white 
    .filter-open
      color: $brown
      svg 
        path 
          fill: $accent-color
    .navbar.is-filtered
      color: $brown
      svg 
        path 
          fill: $accent-color
    .navbar__filter-btn
      @media screen and ( max-width: 460px )
        border-color: $accent-color
        .open
          path
            fill: white
        &:hover
          border-color: $light-gray
    .burger
        &__line
            background: white
        &.open
            .burger__line
                background: $brown
    .navbar__left 
        &.open
            .navbar__logo
                color: $brown
            .navbar__filter-btn
                svg
                    path
                        fill: $accent-color
    .navbar
        &.filter-open
            .burger
                &__line
                    background: $brown
        &.filter-window-open
          .navbar__logo, .navbar__filter-current
            @media screen and ( min-width: 460px )
              color: $brown
          .navbar__filter-btn
            @media screen and ( min-width: 460px ) 
              border-color: rgba($accent-color, 0.4) 
              svg 
                path 
                  fill: $accent-color 
              &:hover
                border-color: $accent-color
    .filter-window
      color: $brown
    +media("<=1024px")
        .navbar
            &__link
                color: $brown
