.filter-slideshow-wrapper
  position: fixed
  top: 0
  left: 0
  z-index: 10001
  background: #1f1f1f
  width: 100%
  height: 100vh

.filter-slideshow__content
  position: relative 
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.icon 
  display: block 
  margin: 0 auto 
  fill: $dark-color 
.filter-slideshow 
  position: relative 
  width: 100%
  overflow: hidden 
  margin: 0 
  z-index: 100
  height: 100%
  &::after 
    content: '' 
    position: absolute 
    top: 0 
    left: 0 
    width: 100% 
    height: 100% 
    background: rgba(0,0,0,0.4) 
    z-index: 1000 
    opacity: 0 
    transition: opacity 0.4s 
  +media("<=1366px")
    width: 75vw
    height: 45vw
  +media("<=1025px")
    height: 40vw
    width: 60vw 
  +media("<=phone")
    height: 216px
    width: 327px

.filter-slide 
  width: 100% 
  height: 100% 
  top: 0 
  left: 0 
  position: absolute 
  overflow-x: hidden 
  pointer-events: none 
  opacity: 0 
.filter-slide--current 
  opacity: 1 
  z-index: 999 
  pointer-events: auto 
  position: relative 
  transform: scale(1.3)
  transition: transform 40s linear
.filter-slide__wrap 
  width: 100% 
  overflow: hidden 
  height: 100% 
  position: absolute 
.filter-slide__bg,
.filter-slide__img 
  width: 100% 
  height: 100% 
  left: 0 
  top: 0 
  background-color: white 
  position: absolute 
  pointer-events: none 
  +cover
.boxnav 
  display: flex 
  width: 150%
  justify-content: space-between
  position: absolute
  z-index: 101
  .container
    display: flex 
    justify-content: space-between 
.boxnav__item 
  display: flex 
  align-items: center 
  justify-content: center 
  border: 0
  left: auto 
  right: 0 
  color: white 
  flex: none
  cursor: pointer
  padding: 13px 17px
  transition: background .3s ease, border-color .3s ease
  +medium
  &:focus 
    outline: none 
  svg
    display: block
    width: 52px 
    height: 9px 
    margin-top: 2px 
    fill: $medium-gray
    transition: fill .3s ease 
  +media("<=phone")
    padding: 10px 14px

.boxnav__item--label
    position: fixed 
    bottom: 3%
    color: white
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    +media("<=phone")
      bottom: 6%

.boxnav__item--prev:hover,
.boxnav__item--next:hover 
  background: $accent-color
  border-color: transparent
  svg
    fill: white
  +media("<=phone")
    display: none
.boxnav__label 
  padding: 0 0.5rem 
  font-size: 13px 
  position: relative 
  color: white 
.boxnav__label--current
  font-size: 13px 
.boxnav__label--total
  margin-left: 2px 
  font-size: 13px 
  &::before 
    content: '' 
    position: absolute 
    right: 85% 
    top: 0 
    width: 1px 
    height: 100%  
    background: white
    transform: rotate(22.5deg) 

.filter-slideshow-close
  position: absolute
  right: 3vw
  top: 3.5%
  z-index: 101
  padding: 10px 14px
  border: 1px solid $medium-gray
  cursor: pointer
  transition: background .3s ease, border-color .3s ease
  svg
    transition: fill .3s ease
  &:hover
    background: $accent-color
    border-color: transparent
    svg
      fill: white
  +media("<=470px")
    right: 24px