.tabs
	&__nav
		+bold 
		display: flex
		justify-content: space-between
	&__nav-item
		width: 28%
	&__content
		display: flex
		justify-content: space-between
		.tab
			width: 28%
			margin-top: 24px		
	&__item
		margin-top: 24px
		cursor: pointer
		transition: color .3s ease
		&:hover
			color: $accent-color